html
  head 
    link(rel="stylesheet", href="/css/styles.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body 
    h1= title
    h2= 'Season '+ season.number
    table(style='width:100%', border='1')
      tr
        th Number
        th Title
        th Director
      tr
      each episode in season.episodes
        tr
          td= episode.number
          td= episode.title 
          td= episode.director


    